*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.container1{
    margin: 0;
    max-width: 1700px;
    background-color: lightblue;
    height: 75px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.colonna{
    height: 35px;
    width: 200px;
    background-color: orange;
    border: 2px dotted black;
    padding: 6px;
}
.middle-column{
    width: 500px;
}
.text-allign{
    text-align: center;
}
.text-allign1{
    text-align: start;
}
.text-allign2{
    text-align: end;
}
.container2{
    margin: 0;
    max-width: 1700px;
    height: 300px;
    justify-content: center;
    padding: 25px;
}
.blocco1{
    background-color: blue;
}
.colonna2{
    width: 700px;
    height: 250px;
    background-color: violet;
}
.blocco2{
    background-color: white;
}
.colonna3{
    width: 550px;
    height: 250px;
    background-color: rgb(72, 151, 199);
    border: 2px dotted black;
}
.colonna4{
    width: 350px;
    height: 250px;
    background-color: rosybrown;
    border: 2px dotted black;
    
}
.blocco3{
    background-color: grey;
}
.container4{
    margin: 0;
    max-width: 1700px;
    height: 500px;
    justify-content: center;
    padding: 25px;
    align-items: center;
}
.colonna5{
    width: 900px;
    height: 445px;
    background-color: green;
    border: 2px dotted black;
}
.blocco4{
    background-color: rgba(9, 14, 22, 0.896);
}
.colonna6{
    height: 250px;
    width: 150px;
    background-color: turquoise;
    border: 2px dotted white;
}
.colonna7{
    height: 250px;
    width: 300px;
    background-color: rgb(174, 96, 96);
    border: 2px dotted black;
}