*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    margin: 0;
    max-width: 1700px;
    background-color: lightblue;
    height: 75px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.colonna{
    height: 35px;
    width: 200px;
    background-color: orange;
    border: 3px dotted black;
    padding: 6px;
}
.middle-column{
    width: 500px;
}
.text-allign{
    text-align: center;
}
.text-allign1{
    text-align: start;
}
.text-allign2{
    text-align: end;
}